#green:hover,
#navy:hover,
#purple:hover,
#pink:hover,
#golden:hover,
#yellow:hover,
#sky:hover {
  cursor: pointer;
}

#green-bg,
path,
#navy-bg path,
#purple-bg path,
#pink-bg path,
#golden-bg path,
#yellow-bg path,
#sky-bg path {
  transition: 0.25s;
}

#green:hover #green-bg path {
  fill: #78d3a4;
}

#navy:hover #navy-bg path {
  fill: #95cee3;
}

#purple:hover #purple-bg path {
  fill: #e2cae2;
}

#pink:hover #pink-bg path {
  fill: #ffbbe3;
}

#golden:hover #golden-bg path {
  fill: #f8af80;
}

#yellow:hover #yellow-bg path {
  fill: #ffe3a9;
}

#sky:hover #sky-bg path {
  fill: #a0e5ff;
}
