#green-petal:hover,
#navy-petal:hover,
#purple-petal:hover,
#pink-petal:hover,
#golden-petal:hover,
#yellow-petal:hover,
#sky-petal:hover {
  cursor: pointer;
}

#green-bg,
path,
#navy-bg path,
#purple-bg path,
#pink-bg path,
#golden-bg path,
#yellow-bg path,
#sky-bg path {
  transition: 0.25s;
}

#green-petal:hover #green-bg path {
  fill: #78d3a4;
}

#navy-petal:hover #navy-bg path {
  fill: #95cee3;
}

#purple-petal:hover #purple-bg path {
  fill: #e2cae2;
}

#pink-petal:hover #pink-bg path {
  fill: #ffbbe3;
}

#golden-petal:hover #golden-bg path {
  fill: #f8af80;
}

#yellow-petal:hover #yellow-bg path {
  fill: #ffe3a9;
}

#sky-petal:hover #sky-bg path {
  fill: #a0e5ff;
}
